# MongoDB配置
mongodb:
  uri: "mongodb://localhost:27017/"

#baostock配置
baostock:
  db: "baostock"
  basic: "stock_basic"
  daily: "daily_adjusted"
  minute_15: "minute_15_adjusted"
  minute_60: "minute_60_adjusted"